<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img
          src="../../../../src/assets/MeekahHub1.jpg"
          alt="Logo"
          height="40"
          class="me-2"
        />
        <span class="brand-text"
          >Meekah<span class="text-warning">Hub</span></span
        >
      </a>

      <button
        class="navbar-toggler"
        type="button"
        (click)="isCollapsed = !isCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngbCollapse]="isCollapsed" class="navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/properties">Properties</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" ngbDropdownToggle> Account </a>
            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              <a
                class="dropdown-item"
                *ngIf="!authService.isAuthenticated()"
                routerLink="/login"
                >Login</a
              >
              <a
                class="dropdown-item"
                *ngIf="authService.isAuthenticated()"
                (click)="logout()"
                >Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
